*{
  text-align: center;
  font-size: 100px;
}

.container{
  color: white;
  width: 50%;
  margin: 0 auto;
  background-color: #9EC8B9;
  border-radius: 20px;
  padding: 100px 0;
}

button{
  font-size: 40px;
  font-weight: bold;
  width: 200px;
  padding: 10px
  height: 40px;
  margin: 15px;
  border-radius: 15px;
  background-color: white;
  color: #9EC8B9;
  border: none;
}
